<section class="container-fluid well">
  <h3>Suscríbete a mi blog</h3>
  <form action="//situvieraalas.us16.list-manage.com/subscribe/post?u=3f61ce2487655f06a90827ba2&amp;id=63b9b64306" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <div class="form-group">
      <label for="firstname">Nombre (optional):</label>
      <input type="text" class="form-control" id="firstname" name="FNAME" placeholder="tu nombre">
    </div>
    <div class="form-group">
      <label for="lastname">Apellido (opcional):</label>
      <input type="text" class="form-control" id="lastname" name="LNAME" placeholder="tu apellido">
    </div>
    <div class="form-group">
      <label for="email">E-m@il (obligatorio):</label>
      <input type="email" class="form-control" id="email" name="EMAIL" placeholder="tu correo electrónico">
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_3f61ce2487655f06a90827ba2_63b9b64306" tabindex="-1" value="">
    </div>
    <input type="submit" class="btn btn-primary" name="subscribe" value="Suscribir">
  </form>
</section>
